name: Test and Publish

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run custom hello action
        uses: ./.github/actions/hello-action

      - name: Run tests
        run:  pytest

  call-docker-build:
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    uses: ./.github/workflows/docker-publish.yml
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  deployRender:
      needs: call-docker-build
      runs-on: ubuntu-latest
      steps:
      - name: Render Deploy
        run: curl -X POST ${{ secrets.DEPLOY_HOOK }}